* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;

}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

a {
    text-decoration: none;
}

img {
    height: 75px;
    margin: 30px 0 40px 0;
}

button {
    font: inherit;
    font-weight: 300;
    padding: 2px;
    border-width: 1px;
    border-style: solid;
}

button:hover {
    cursor: pointer;
}

/* Box for Sign in and New Account Button */

.main-box {
    margin: 20px;
}


/* Sign in box */

.sign-in-box {
    border: 1px solid rgba(180, 175, 175, 0.375);
    text-align: left;
    padding: 20px;
    padding-top: 5px;
    width: 370px;
}

.sign-in-box label, input, button {
    display: block;
    margin-bottom: 5px;
}

.sign-in-box label, button{
    font-size: 0.8rem;
}

.sign-in-box a {
    font-size: 0.9rem;
    color: rgb(0, 119, 255);
}

.sign-in-box span {
    font-size: 0.5rem;
    color: rgb(0, 119, 255);
}

.sign-in-box input {
    width: 100%;
    margin-bottom: 20px;
    color: rgba(180, 175, 175, 0.99);
    padding: 3px 7px;
    border: 1px solid #a6a6a6;
    border-radius: 3px
}

.sign-in-box input:focus, input:focus-visible {
    background-color: #F7FEFF;
    border-color: #007185;
    box-shadow: 0 0 0 3px #c8f3fa, 0 1px 2px rgba(15,17,17,.15) inset;
    outline: 0;
    padding: 3px 7px;
    line-height: normal;
    color: black;
}

.sign-in-box button {
    width: 100%;
    margin: 20px 0 20px 0;
    background-color: rgb(255, 191, 0);
}

/* Password flex box */

.password-box {
    display: flex;
    justify-content: space-between;
}

.password-box label {
    padding-left: 30px;
}

/* New Account Button Box */
.new-account {
    padding: 0 20px;
}

.new-account button {
    width: 100%;
}

.line-new-to-peanuts {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.line-new-to-peanuts p {
    font-weight: 200;
    font-size: 0.9rem;
    width: 100%;
}

hr {
    color: rgba(180, 175, 175);
    width: 100%;
}

/* Footer and below */

footer {
    text-align: center;
    font-size: 12px;
}

footer hr {
    margin: 20px 0;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    width: 225px;
    margin: 30px auto;
}

.footer-links a{
    color: rgb(24, 130, 251);
}